<!DOCTYPE html>
<html>
    <head>
        <title>Help Page</title>
        <link rel="stylesheet" href="css/styles.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <p>How can I help you?</p>
        </div>

        {{>footer}}
    </body>
</html>